body {
  font-family: "Source Sans Pro";
}

.section_card .section_card_right_container > .section_card_text, .landing-logo p {
  font-family: "Hind";
}

.section_banner .section_banner_heading, .section_text, .header_text, .header_heading, .landing-logo p {
  color: #2c2f3c;
}

.section_banner .section_banner_heading .colored-span, .header_heading .colored-span {
  display: inline-block;
  letter-spacing: 0.018em;
  background-color: #14a0c7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.header {
  width: 100%;
  background-image: url("../img/m-h-day.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 40% 38%;
}

.header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 720px;
  max-width: 1100px;
  padding: 20px 192px 175px;
}

.landing-logo p {
  font-size: 24px;
  line-height: 20px;
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  vertical-align: top;
  padding-left: 11px;
  margin-top: 5px;
}

.landing-logo span {
  display: block;
  font-size: 10px;
  padding-left: 10px;
}

.header_heading {
  font-size: 70px;
  line-height: 1.02em;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.015em;
  padding-top: 8px;
}
.header_heading .colored-span {
  background: linear-gradient(to bottom, transparent 33%, #14a0c7 33%);
}

.header_text {
  line-height: 1.5em;
  letter-spacing: 0.025em;
}

.header_button {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 600;
  width: 142px;
  height: 48px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #699900;
  transition: all 0.3s, ease-in-out;
}

.header_button:hover, .section_banner .section_banner_button:hover {
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.45);
  background-color: #7bb300;
}

.login {
  font-size: 20px;
  color: #fff;
  text-decoration: underline;
  display: inline-block;
  margin-left: 150px;
  text-decoration: underline 2px;
  text-underline-offset: 2px;
  padding: 5px;
  transition: transform 0.3s ease-in;
}

.section_link {
  font-size: 16px;
  color: #fff;
  text-decoration: underline;
  transition: transform 0.3s ease-in-out;
}

.login:hover, .section_link:hover {
  transform: scale(1.05);
  text-shadow: 2px 2px 3px #8c8c8c;
}

.section {
  margin: 0 auto;
  text-align: center;
}

.section_text {
  font-size: 42px;
  line-height: inherit;
  font-weight: 600;
  font-style: normal;
  padding: 30px 0 29px 21px;
}
.section_text > .colored-span {
  display: inline-block;
  line-height: 1.6em;
  background: linear-gradient(to top, transparent 20%, #14a0c7 20%);
}

.section_card_wrap {
  max-width: 1116px;
  margin: 0 auto;
}

.section_card {
  background-color: #21232e;
  display: flex;
  height: 326px;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 6px;
}
.section_card .section_card_img {
  border-radius: 6px;
  object-fit: contain;
}
.section_card .section_card_right_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 48px 90px 30px 90px;
}
.section_card .section_card_right_container > .section_card_heading {
  font-size: 22px;
  line-height: inherit;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.04em;
  padding-bottom: 24px;
}
.section_card .section_card_right_container > .section_card_text {
  line-height: 1.5em;
  text-align: justify;
}

.banner-background-wrap {
  background: linear-gradient(#fff 50%, #21232e 50%);
}

.section_banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #66960c, #2e5cd2);
  border-radius: 6px;
  margin: 147px auto 0;
  max-width: 1200px;
  height: 144px;
}
.section_banner .section_banner_text_wrap {
  padding-bottom: 30px;
  text-align: left;
}
.section_banner .section_banner_heading {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 6px;
}
.section_banner .section_banner_heading .colored-span {
  line-height: 2em;
  background: linear-gradient(to top, transparent 20%, #14a0c7 20%);
}
.section_banner .section_banner_text {
  color: #fff;
}
.section_banner .section_banner_button {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 600;
  width: 142px;
  height: 48px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #699900;
}

.footer {
  background-color: #21232e;
  color: #fff;
}
.footer .footer-wrap {
  max-width: 1600px;
  padding: 4px 30px 0 33px;
  height: 168px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-wrap .footer_logo p {
  color: white;
}
.footer .footer-wrap .footer_text {
  max-width: 300px;
  font-size: 14px;
}
.footer .footer-wrap .footer-cr {
  padding-left: 10px;
}

/*# sourceMappingURL=style1.css.map */
