$headerBackgroundImg: '../img/m-h-night.jpg';

$font-primary: 'Source Sans Pro', sans-serif;
$font-additional: 'Hind', sans-serif;
$font-fresca: 'Fresca', sans-serif;

$color-article: #3b3f50;
$color-background: #21232e;
$color-highlight: #ff4e33;
$color-button: #e3ac00;
$color-text-dark: black;
$color-text-light: #fff;
$color-theme: $color-text-light;

$banner-gradient-start: #dfa605;
$banner-gradient-end: #932d51;