$headerBackgroundImg: '../img/m-h-day.jpg';

$font-primary: 'Source Sans Pro';
$font-additional: 'Hind';
$font-fresca: 'Fresca';

$color-article: #21232e;
$color-background: #fff;
$color-highlight: #14a0c7;
$color-button: #699900;
$color-text-dark: #2c2f3c;
$color-text-light: #fff;
$color-theme: $color-text-dark;

$banner-gradient-start: #66960c;
$banner-gradient-end: #2e5cd2;
